[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/

*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.tmp
*.svd

.DS_Store
Thumbs.db

.idea/
*.sln.iml

.vscode/

crashlytics-build.properties